HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/*
!.idea/fileTemplates/
!.idea/codeStyleSettings.xml
!.idea/codeStyles/
!.idea/runConfigurations
!.idea/scopes
!.idea/inspectionProfiles
!.idea/checkstyle-idea.xml
.idea/runConfigurations/*-*.xml
*.iml
ui/node_modules

*.log
*.gz
cache/
*.db
/backup
