<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <span *ngIf="view == CalendarView.Day">Gestern</span>
        <span *ngIf="view == CalendarView.Week">Letzte Woche</span>
        <span *ngIf="view == CalendarView.Month">Letzter Monat</span>
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Heute
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <span *ngIf="view == CalendarView.Day">Morgen</span>
        <span *ngIf="view == CalendarView.Week">Nächste Woche</span>
        <span *ngIf="view == CalendarView.Month">Nächster Monat</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'de-DE' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Monat
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Woche
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Tag
      </div>
    </div>
  </div>
</div>
<br/>

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br/>
    Lade Kalendar...
  </div>
</ng-template>


<div *ngIf="loaded; else loading">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      locale="de-DE"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      [cellTemplate]="customCellTemplate"
    >
      <!--    (eventTimesChanged)="eventTimesChanged($event)"-->
      <!--  >-->
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      locale="de-DE"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      dayStartHour="6"
      dayEndHour="23"
    >
      <!--    (eventTimesChanged)="eventTimesChanged($event)"-->
      <!--  >-->
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      locale="de-DE"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      dayStartHour="6"
      dayEndHour="23"
    >
      <!--    (eventTimesChanged)="eventTimesChanged($event)"-->
      <!--  >-->
    </mwl-calendar-day-view>
  </div>

  <br/><br/><br/>

  <h3>
    Alle Reservierungen
    <button class="btn btn-primary float-right" (click)="openNewRegistrationDialog()">
      Neue Reservierung
    </button>
    <div class="clearfix"></div>
  </h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Beginn</th>
        <th>Ende</th>
        <th>Titel</th>
        <th>FahrerIn</th>
        <th>Löschen</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-d H:i"
            altFormat="j.nn.y H:i"
            placeholder="Leer"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-d H:i"
            altFormat="j.nn.y H:i"
            placeholder="Leer"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.meta.event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.meta.event.username"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteRegistration(event.meta.event)">
            Löschen
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #eventModalContent let-close="close">
  <div class="modal-body">
    <div>
      BenutzerIn: {{eventInfoModalData?.event.meta.event.username}}<br>
      Start: {{eventInfoModalData?.event.start | date: "d.M.y H:mm"}}<br>
      Ende: {{eventInfoModalData?.event.end | date: "d.M.y H:mm"}}<br>
      Titel: {{eventInfoModalData?.event.meta.event.title}}<br><br>
      {{eventInfoModalData?.event.meta.event.text}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">

    <span [ngStyle]="{'background-color': day| dayColor}" style="height: 100%">
      <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 1"
    >{{ day.badgeTotal }}</span
    >
        <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
        >
      </div>

      <span *ngIf="day.badgeTotal === 0">
    </span>
      <span *ngFor="let event of day.events">
      {{event | formatDayRegistration: day}}<br>
    </span>
    </span>
</ng-template>


<ng-template #dateRangeTemplate let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<ng-template #newRegistrationModalContent let-close="close">
  <div class="modal-body">
    <div>
      <form>
        <div class="form-group">
          <label>BenutzerIn</label>
          <input
            class="form-control"
            type="text"
            name="user"
            [(ngModel)]="registration.username"
          />
        </div>
        <div class="form-group">
          <label>Titel</label>
          <input
            class="form-control"
            type="text"
            name="title"
            [(ngModel)]="registration.title"
          />
        </div>
        <div class="form-group">
          <label>Zeitraum</label><br>
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="dateRangeTemplate" outsideDays="hidden">
          </ngb-datepicker>
          <br>
          <div class="row">
            <div class="col-md-2">
              <ngb-timepicker [(ngModel)]="timeFrom" [minuteStep]="15" name="time" (ngModelChange)="onTimeChange()"></ngb-timepicker>
            </div>
            <div class="col-md-1" style="width: 5%; margin-top: auto;margin-bottom: auto">
              bis
            </div>
            <div class="col-md-2">
              <ngb-timepicker [(ngModel)]="timeTo" [minuteStep]="15" name="time2" (ngModelChange)="onTimeChange()"></ngb-timepicker>
            </div>
          </div>
          {{registration.start | date: "d.M.y H:mm"}} - {{registration.end | date: "d.M.y H:mm"}}
        </div>

        <div class="form-group" style="margin-top: 10px">
          <label>Text</label>
          <textarea
            class="form-control"
            rows="3"
            name="title"
            [(ngModel)]="registration.text"
          ></textarea>
        </div>

      </form>

    </div>
    <div *ngIf="shifted" style="margin-top: 20px">
      <ngb-alert [dismissible]="false">
        Der Termin wurde verändert, um andere Reservierungen zu berücksichtigen. Bitte neue Werte prüfen.<br>
        Folgende Konflikte haben sich mit der Reservierung überschnitten:<br>
        <span *ngFor="let conflict of conflicts">
        {{conflict.username}}: {{conflict.start | date: "d.M.y H:mm"}} - {{conflict.end | date: "d.M.y H:mm"}}<br>
      </span>
      </ngb-alert>
    </div>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="conflicts.length > 0 && !shifted" style="margin-top: 20px">
      <strong>Konflikte</strong> Folgende Konflikte verhindern die Reservierung:<br>
      <span *ngFor="let conflict of conflicts">
        {{conflict.username}}: {{conflict.start | date: "d.M.y H:mm"}} - {{conflict.end | date: "d.M.y H:mm"}}<br>
      </span>
    </ngb-alert>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">Abbrechen</button>
    <button type="button" class="btn btn-outline-primary" (click)="submit()">
      OK
    </button>
  </div>
</ng-template>
